<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Edit</title>
</head>
<style>
    body {
        margin: auto;
        width: 35%;
        background-image: url(https://imgur.com/7jBki7h.png);
    }
    div {
        opacity: 70%;
        border-radius: 5px;
    }
    h1 {
        text-align: center;
    }
    label {
        color: white;
    }
    button {
        border-radius: 10px;
        opacity: 70%;
    }
    .w3-button {
        border-radius: 10px;
        opacity: 75%;
        margin-top: 5px;
    }
    nav {
        text-align: center;
        align-items: center;
        margin-top: 10px;
    }
</style>
<body>
    <%- include('./partials/nav') %>
    <br>
    <div class="w3-container w3-black">
        <h1>Edit <%= exercise.name %></h1>
      </div>
      <form class="w3-container" action="/getfit/workouts/<%= exercise._id %>?_method=PUT" method="post">
        <p>
        <label>Name</label>
        <input class="w3-input" type="text" name="name" value="<%= exercise.name %>"></p>
        <p>
        <label>Body Part</label>
        <input class="w3-input" type="text" name="category" value="<%= exercise.category %>"></p>
        <p>
        <label>Video URL</label>
        <input class="w3-input" type="text" name="videoUrl" value="<%= exercise.videoUrl %>"></p>
        <p>
        <label>Image URL</label>
        <input class="w3-input" type="text" name="img" value="<%= exercise.img %>"></p>
        <p>
        <label>Equipement</label>
        <input class="w3-input" type="text" name="eq" value="<%= exercise.eq %>"></p>
        <p>
        <label>Sets</label>
        <input class="w3-input" type="number" name="sets" value="<%= exercise.sets %>"></p>
        <p>
        <label>Reps</label>
        <input class="w3-input" type="text" name="reps" value="<%= exercise.reps %>"></p>
        <p>
        <label>Dificulty</label>
        <input class="w3-input" type="text" name="dificulty" value="<%= exercise.dificulty %>"></p>
        <p>
        <input type="submit" value="Save" class="w3-button w3-black"></p>
      </form>
</body>
</html>